{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
{{ parent() }}
<div class="site-blocks-cover inner-page" style="background-image: url('assets/images//caro2.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center mt-4 p-5 border text-white" style="background-color: rgba(51, 204, 255,.4);" data-aos="fade-up" data-aos-delay="">
                <div class="text-center">
                     <h1>A propos de nous</h1>
                    <p>NHPharma est une pharmacie en ligne qui propose des produits vendus sans ordonnance à ses clients tout en limitant les déplacements.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="{{ asset('assets/images/tetu.jpg') }}" alt="Image ....." class="img-fluid rounded">
                        <a href="https://www.youtube.com/watch?v=lj4Ex6NlnFY" class="play-button popup-vimeo"> <span class="icon-play"></span></a>
                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Comment avons nous commencé ?</h2>
                </div>
                <p class="text-justify">
                Nous sommes parti d'un projet académique de groupe à l'issue duquel nous avons décider de mettre en place une e-pharmacie c'est-à-dire un outil ou 
                mieux un site web ou les clients peuvent commander des médicaments et des produits de pharmacie en ligne.
                </p>
                <p class="text-justify">
                    Ce projet est donc l'oeuvre des étudiants en cycle ingénieur des humanités numériques à l'école national supérieur polytechnique de Yaoundé. nous
                    nous sommes assurés de respecté la réglementation en matière de vente de médicaments en ligne et de commerce électronique.
                </p>
            </div>
        </div>
    </div>

</div>


<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="{{ asset('assets/images/caro4.jpg') }}" alt="Image placeholder" class="img-fluid rounded">
                        <a href="https://www.youtube.com/watch?v=lj4Ex6NlnFY" class="play-button popup-vimeo"> <span class="icon-play"></span></a>
                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">

                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Nous sommes une companie sûr</h2>
                </div>
                <p class="text-justify">
                  En effet nous avons conclut plusieurs contrat avec des pharmacies de renom
                  comme la pharmacie MESSA, la pharmacie EMIA, la pharmacie Française, la pharmacie
                  du soleil et bien d'autre.
                </p>
                <p class="text-justify">
                   Par ailleurs nous disposons d'un grand réseau de marque et de laboratoire associé parmi lesquels nous pouvons cité:
                   l'Ordre des pharmacies du Cameroun, les laboratoires biopharma et bien d'autre.
                </p>

            </div>
        </div>
    </div>
</div>


<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">             
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Livraison rapide</h2>
                    <p style="text-justify">Grâce à notre équipe de livreur vous avez non seulement la possibilité d'être livrer à domicile mais aussi dans les plus brefs délais.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-primary"></span>
                </div>
                <div class="text">
                    <h2>Retour clients</h2>
                    <p style="text-justify">Vous avez la possibilité de nous faire parvenir vos feedback et nous vous donnons la garantie d'être satisfait ou satisfait
                    sur notre site.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-primary"></span>
                </div>
                <div class="text">
                    <h2>Service Clients</h2>
                    <p style="text-justify">Nous disposons d'un service client prêt à écouter vos préoccupations et à nous les transmettres en temps réel et à résoudre
                    au plus vite vos problèmes ou vos préoccupations.</p>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4 ">
            <h2>Notre Équipe</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5">
    
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/angy.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">MAGUE Ange</h3>
                  <p class="block-38-subheading">Chef de projet</p>
                </div>
                <div class="block-38-body">
                  <p>Chargé de coordonnée et de diriger le projet mais aussi de le planifier et de coder le site web de la 
                  pharmacie en ligne. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/michou.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">MBUYI Kamanou</h3>
                  <p class="block-38-subheading">Codeur</p>
                </div>
                <div class="block-38-body">
                  <p>Chargé de coder le site de la pharmacie en ligne mais aussi d'assurer les intégrations et les tests de fonctionnalité
                  de la e-pharmacie.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/juan.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">Abouh Juan</h3>
                  <p class="block-38-subheading">Assistant</p>
                </div>
                <div class="block-38-body">
                  <p>Chargé de collecter et d'analyser les informations mais aussi de leur traiter. De créer les partenariats et créér 
                  des contenus éditoriaux pour le site web de la pharmacie en ligne.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/harrold.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">KAGHO Harrold</h3>
                  <p class="block-38-subheading">Assistant</p>
                </div>
                <div class="block-38-body">
                  <p>Chargé de collecter et d'analyser les informations mais aussi de leur traiter. De créer les partenariats et créér 
                  des contenus éditoriaux pour le site web de la pharmacie en ligne.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/Hilarie.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">MESSAH Fosso</h3>
                  <p class="block-38-subheading">Assistant</p>
                </div>
                <div class="block-38-body">
                  <p>Chargé de collecter et d'analyser les informations mais aussi de leur traiter. De créer les partenariats et créér 
                  des contenus éditoriaux pour le site web de la pharmacie en ligne.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ asset('assets/images/ninko.jpg') }}" alt="Image placeholder" class="mb-4" height="130">
                  <h3 class="block-38-heading h4">NINKO Lidwine</h3>
                  <p class="block-38-subheading">Superviseur</p>
                </div>
                <div class="block-38-body">
                  <p>Enseignante à l'école nationale supérieure polytechnique de yaoundé et chercheure en cybersécurité. c'est grâce 
                  à son concours qu'a eu lieu le projet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


