{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}


{% block body %}
{{ parent() }}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><h1 class="text-dark text-center">Liste des Articles</h1> </div>
        </div>
    </div>
</div>
<div class="container">
    
    
    <div class="row mt-5">
   
        
      {% for i in pagination %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <img src="/uploads/articles/{{i.image}}" class="card-img-top" alt="..." height="150">
            <div class="card-body">
              <h5 class="card-title">{{ i.titre|upper }}</h5>
              <p class="card-text text-dark">{{i.detail|slice(0,15)}} ...</p>
              <p><a href="{{path('article_detail',{slug: i.slug})}}"><button class="btn btn-success text-white">Voir plus</button></a></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><span class="icon-user-circle"></span>Auteur: {{i.auteurReference}}</small>
              <p> <small> <span class="icon-date_range"></span>Créer le: {{ i.createdat|date("d/m/Y h:m:s")}}</small></p>
            </div>
          </div>
        </div>  
      {% endfor %}           
      
    </div>

    <div class="row mt-5 mb-2">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              
              <ul>
                <li>{{ knp_pagination_render(pagination)}}</li>
              </ul>
            </div>
          </div>
        </div>


</div>
{% endblock %}
